/* DASHBOARD USER STYLE */

:root{
    /* --qColor: #3b7f7e; */
    --qColor: #F78A2F;
    --qColorSecondry: #1A2351;
  }

*{
    margin: 0;
    padding: 0;
}
  .dashboardUser{
    /* display: flex; */
    /* height: 100vh; */
    background-color: var(--qColor);
    padding: 0.5em;
    
}

.sideMenu{
    /* flex:1; */
    background-color: var(--qColor);
    border-radius: 16px;
    align-items: center;
}

.logo{
    text-align   : center;
}


.contentContainer{
    /* flex:4; */
    /* margin-top: 2em; */
    /* margin: 0; */
    background-color: #fff;
    border-radius: 18px;
    min-height: 65vh;
    padding: 2em;
}

.contentSection{
    margin-top: 3em;
}

.topmenu{
    position: absolute;
    width: 100%;
    top: 0.5em;
    z-index: 100;
}

.menuItem{
    align-self: center;
}

.menuItem span{
    color: var(--qColorSecondry);
    font-weight: bold;
}

.sideMenuItem{
    margin-top: 5em;
    margin-left: 1em;
    color: white;
}

.sideMenuItem span{
    display: block;
    color: white;
}

.rightContent{
    border-radius: 16px;
    background-color: #f5f5f5;
    padding: 1em;
}

.rightContent h6{
    color: var(--qColorSecondry);
    font-weight: bold;
    margin-bottom: 2em;
}

.rekomendasiContainer{
    border-radius: 16px;
    width: 100%;
    background-color: white;
    margin-bottom: 1em;
}

.rekomendasiImage{
    border-radius: 16px 16px 0 0 ;
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.rekomendasiImage img{
    width: 100%;
}

.recomendasiDetail{
    width: 100%;
    border-radius: 16px;
    background-color: #fff;
    padding: 1em;
    position: relative;
    margin-top: -30px;
}

.rekomendasiTitle{
    color: var(--qColorSecondry);
    font-weight: bold;
    /* font-style: italic; */
    font-size: 1.1em;
}

.rekomendasiContent{
    font-size: 0.8em
}

.progressTitle{
    /* font-weight: bold; */
    color: var(--qColorSecondry);
    font-size: 1.3em;
}

/* ============== PROFILE PAGE ============= */
.profilePage{
    background-image: url(../../supports/img/bgProfile.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* padding: 1.5em; */
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2em;
    position: relative;
    display: block;
    padding-top: 200px;
}

.fontWhite{
    color: #FFF;
}

.radiusatas{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.radiusbawah{
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.detailProfile input{
    /* display: inline-block; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0.5em 1em 0.5em 1em;
    border-style: none;
    width:70%;
    background-color: #ebebeb;
    color: #3d3d3d;
    margin-bottom: 0.5em;
    /* float: right; */
}

.detailProfile{
    margin-left: 170px;
    margin-top: -80px;
    
}

.titleProfile{
    /* position: relative; */
    display: inline-block;
    width: 170px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #292929;
    color: white;
    margin-right: 0.3em;
}

.center {
    margin: 0 auto;
    /* width: 50%; */
  }

.imgProfile{
    border-radius: 1em;
    width: 150px;
    height: 200px;
    margin: 0 auto;
    margin-top: -30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photoBox{
    border-radius: 1em;
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin-top: -130px;
    z-index: 100;
    border: 4px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photoBox img{
    border-radius: 1em;
    height: 100%;
   
    
}


.bgProfile{
    
    height: 200px;
    /* position: relative; */
}

.contentBox{
    /* margin-top:150px; */
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 2em;
}